body{
    padding: 0;
    margin: 1cm;
    font-family: 'Rokkitt', serif;
    text-align: center;
    background-repeat: no-repeat;
background-image: url(img/fondo.jpg)

}

.container{
   
    
    padding: center;
    flex-direction: row;

}
h1{
    color:white;
}